<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>兑换商城</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but this page doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <script>
      window.onload = function() {
        let index = location.href.indexOf("start.html"),
          path = location.href.substr(0, index) + "index.html",
          // url = `/gw/cc/login.html?theme=coocaa-pay-login&loginMethod=weixin,qq,&redirect_to=${path}`;
          url = `/gw/cc/login.html?theme=coocaa-added-service&loginMethod=weixin,qq,phoneDynameic&redirect_to=${path}`;
        window.location.href = url;
      };
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
